#"Title" {
  display: block;
  background-color: black;
  color: white;
}
div {
  display: inline;
  background-color: lightblue;
  color: white;
  font-family: Georgia, Times, serif;
  padding: 20%;
  margin:0px;
  font-size:15px;;
}

h1 {
  color: white;
  text-align: center;
}
